body,html{
  height: 100%;
  min-width: 1180px;
}
.load-more{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #F9F9F9;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  color: rgba(47, 49, 66, 0.56);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;

}
.load-more:hover{
   color: #2dcbb5;
}
#app{
  min-height: 100%;
  position: relative;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header .el-input__inner{
  height: 35px;
}
.header .el-input__inner{
  line-height: 35px;
}
.header .el-input__icon{
  line-height: 35px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #2dcbb5;
}
body .el-checkbox__inner{
  border-radius: 50%;
}
/*login*/
body .el-input__inner{
  /*background-color: #F9F9F9;*/
}

/*comment*/
body .el-textarea__inner{
  font-size: 14px;
  color: rgba(47,49,66,1);
  line-height: 18px;
  border-radius: 4px;
  /*background-color: #F9F9F9;*/
  padding: 10px 15px;
}
/*comment*/
body .el-textarea__inner::placeholder{
  color: rgba(47,49,66,0.56);
}
.el-breadcrumb__inner.is-link{
  color: rgba(47,49,66,0.56);
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner{
  color: #2f3142;
  font-weight: 600;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
  color: #2f3142;
  font-weight: 600;
}


.live .prism-player {
  background-color: #2e2e36;
}
