@charset "utf-8";
body,div,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,a,i,em,b,fieldset,form,label,legend{margin:0;padding:0;}
body,input,button,textarea,select{font-family: "微软雅黑";}
ol,ul{list-style:none;}
::-webkit-input-placeholder{color: #999;}
a{text-decoration:none;color:#272727;}
img{border:0;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
i,em{font-style: normal;}
b,strong{font-weight: normal;}
textarea{resize: none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-touch-callout:none}
*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/*清浮动*/
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix {
    *zoom: 1;
}
.w{ width:1180px; margin:0px auto;}
textarea{ resize:none;}

.img-box>img{
	width: 100%;
  float: left;
}
.img-box{
  overflow: hidden;
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    color: #272727;
    background: #fff;

}
body{
  overflow-y: scroll;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 734794 */
  src: url('//at.alicdn.com/t/font_734794_2vfj42boa46.eot');
  src: url('//at.alicdn.com/t/font_734794_2vfj42boa46.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_734794_2vfj42boa46.woff') format('woff'),
  url('//at.alicdn.com/t/font_734794_2vfj42boa46.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_734794_2vfj42boa46.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:before{
  vertical-align: middle;
}
a{
  color:inherit ;
}
.maincolor{
  color: #2dcbb5;
}
